
.primary-btn {
  background: #1b4cff;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  min-width: 100px;
  /* background: #00153f; */
}

.flat-btn {
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.text-primary {
  color: #1b4cff;
}

h4 {
  font-size: 2em;
  font-weight: 100;
  color: #00153f;
}